{% macro branding() %}
<div class="text-sm text-slate-500 space-y-1.5 text-center">
  <div class="flex justify-center items-center">
    <span class="mr-1.5">Authentication secured by</span>
    <a href="https://opensensor.io/engineering" rel="noreferrer noopener" target="_blank" class="font-semibold text-teal-600 hover:text-teal-700">
      OpenSensor Engineering
    </a>
  </div>
  <div class="text-xs text-slate-400">
    Your login works across OpenSensor.io, LightNVR.com, and OwlBooks.ai.
  </div>
</div>
{% endmacro %}
